body {
    font-family: 'Gabarito', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.score {
    display: flex;
    min-width: 315px;
    justify-content: space-between;
    font-size: 2rem;
}
.board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    line-height: 100px;
    gap: 5px;
    text-align: center;
    font-size: 5rem;;
}

.cell {
    border: 2px solid black;
}

.piece-x {
    color: blue;
}

.piece-o {
    color: red;
}