:root {
    --button-scale: 1;
    --box-shadow-color: rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Gabarito', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.result {
    font-size: 2rem;
    padding-bottom: 1rem;
    color: blue;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: end;
    min-width: 315px;
    font-size: 2rem;
}
.board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    line-height: 100px;
    gap: 5px;
    text-align: center;
    font-size: 5rem;;
    margin-top: 1rem;

}

.cell {
    border: 2px solid black;
}

.piece-x {
    color: blue;
}

.piece-o {
    color: red;
}

button {
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    margin-top: 2rem;
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
    background-color: #3498db;
    color: #fff;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--box-shadow-color);
}

button:active {
    transform: scale(0.95);
    box-shadow: none;
}

button:focus {
    outline: none;
}

/* Change the button background color when active (clicked) */
button:active {
    background-color: #2980b9;
}